/* App.css ou global.css */

/* Garantir que o layout ocupe toda a altura da tela */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Garantir que o body ocupe a altura inteira da tela */
}

/* Estilo do header fixo */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  height: 4rem;
  /* Ajuste a altura do seu header */
  background-color: #333;
  /* Altere conforme necessário */
  color: white;
  padding: 1rem;
}

/* Espaçamento do conteúdo principal (evitar sobreposição do header) */
main {
  padding-top: 0rem;
  /* A altura do header */
  padding-bottom: 0rem;
  /* Garante que o footer não fique sobreposto */

  /* Espaçamento lateral */
  padding-left: 0.0rem;
  padding-right: 0.0rem;

  /* Largura e centralização */
  max-width: 100%;

  /* Limita a largura máxima do conteúdo */
  width: 100%;
  /* Garante que a largura ocupe 100% até o máximo */
  margin-left: auto;
  /* Centraliza horizontalmente */
  margin-right: auto;
  /* Centraliza horizontalmente */
}

/* Estilo do footer */
footer {
  background-color: #333;
  color: white;
  padding: 1rem;
}